In [79]:
import os
import pandas as pd
from collections import defaultdict, Counter
import numpy as np
from tqdm import tqdm

In [81]:
np.random.seed(2021)

In [82]:
def back_to_list(s):
    end = s.replace('[', '').replace(']', '').replace('\'', '').replace(' ', '').split(',')
    if '' in end:
        end.remove('')
    return end


def generate_vocab(df, include_headline=True, include_body=False):
    vocab = set()
    if include_headline:
        for row in df.title:
            vocab = vocab.union(set(row))
    if include_body:
        for row in df.body:
            vocab = vocab.union(set(row)) 
    #vocab.remove('')
    vocab = list(vocab)
    print(f'Vocab Size: {len(vocab)}')
    return vocab

### Sample run

In [83]:
#df = pd.read_csv('newshead/data/train.csv')[:100]
df = pd.read_csv('reuters/reuters_train.csv')[:1000]

In [84]:
df.rename(columns = {'text':'body'},inplace=True)
df

,body,title
0,"['sapporo', 'breweries', 'ltd', 'of', 'japan',...","['sapporo', 'breweries', 'issues', 'five', 'ye..."
1,"['zenith', 'laboratories', 'inc', 'said', 'the...","['zenith', 'labs', 'zen', 'will', 'report', '4..."
2,"['usx', 'corp', 'said', 'its', 'uss', 'divisio...","['usx', 'x', 'inland', 'iad', 'in', 'steel', '..."
3,"['dst', 'systems', 'inc', 'said', 'its', 'pres...","['dst', 'systems', 'dsts', 'president', 'dies']"
4,"['iraq', 'said', 'today', 'its', 'troops', 'ha...","['iraq', 'says', 'iran', 'offensive', 'on', 's..."
...,...,...
995,"['east', 'and', 'west', 'on', 'monday', 'decid...","['east', 'west', 'approve', 'nuclear', 'fusion..."
996,"['us', 'house', 'ways', 'and', 'means', 'chair...","['rostenkowski', 'questions', 'securities', 't..."
997,"['the', 'soviet', 'union', 'has', 'agreed', 't...","['ussr', 'to', 'cut', 'coal', 'price', 'for', ..."
998,"['shr', 'one', 'ct', 'vs', 'three', 'cts', 'ne...","['enzo', 'biochem', 'inc', 'enzo', '2nd', 'qtr..."
999,"['a', 'membership', 'seat', 'on', 'the', 'chic...","['cboe', 'membership', 'seat', 'sells', 'for',..."

In [85]:
def load_csv(df):
    df.body = df.body.apply(lambda x: back_to_list(x))
    df.title = df.title.apply(lambda x: back_to_list(x))
    return df
df = load_csv(df)
df.head()

,body,title
0,"[sapporo, breweries, ltd, of, japan, is, issui...","[sapporo, breweries, issues, five, year, sfr, ..."
1,"[zenith, laboratories, inc, said, the, company...","[zenith, labs, zen, will, report, 4th, qtr, loss]"
2,"[usx, corp, said, its, uss, division, and, inl...","[usx, x, inland, iad, in, steel, coil, venture]"
3,"[dst, systems, inc, said, its, president, and,...","[dst, systems, dsts, president, dies]"
4,"[iraq, said, today, its, troops, had, killed, ...","[iraq, says, iran, offensive, on, southern, fr..."

In [86]:
df.title[0]

['sapporo', 'breweries', 'issues', 'five', 'year', 'sfr', 'notes']

In [87]:
vocabH = generate_vocab(df,include_body=False)

Vocab Size: 2849

In [88]:
vocabHD = generate_vocab(df,include_headline=True, include_body=True)

Vocab Size: 13530

In [89]:
#Create vocab indexer
vocab_lookupHD = {i:v for i,v in enumerate(vocabHD)}
vocab_indexerHD = {v:i for i,v in enumerate(vocabHD)}

In [90]:
#encode in training - where all are known words
def encode(df, vocab_indexer, set_D = True):
    df.title = df.title.apply(lambda x: [vocab_indexer[i] for i in x])
    df.body = df.body.apply(lambda x: [vocab_indexer[i] for i in x])
    df['body_full'] = df.body
    if set_D:
        df.body = df.body.apply(lambda x: set(x))
    return df

In [91]:
encoded_df = encode(df, vocab_indexerHD)
encoded_df

,body,title,body_full
0,"{2816, 4623, 5264, 10385, 1433, 12580, 7078, 9...","[317, 7078, 1265, 12000, 5264, 5159, 12860]","[317, 7078, 4705, 1341, 4205, 941, 7726, 79, 4..."
1,"{4623, 9237, 1046, 8727, 9755, 9254, 8234, 102...","[9070, 9887, 13394, 5424, 7124, 2711, 9367, 4194]","[9070, 8406, 3319, 1111, 12539, 9794, 5424, 71..."
2,"{1666, 8962, 8073, 12425, 7692, 8332, 9614, 12...","[8073, 5020, 856, 5299, 9074, 3039, 8949, 2369]","[8073, 9599, 1111, 8301, 9688, 7018, 10291, 85..."
3,"{2816, 11906, 12676, 517, 7943, 4488, 2442, 11...","[9876, 8818, 3174, 2442, 9994]","[9876, 8818, 3319, 1111, 8301, 2442, 10291, 86..."
4,"{2565, 10501, 7943, 8460, 9997, 8846, 911, 948...","[5996, 2506, 13099, 3666, 5529, 1252, 7203, 12...","[5996, 1111, 911, 8301, 11737, 2590, 90, 2402,..."
...,...,...,...
995,"{3584, 2049, 7686, 5638, 10760, 3083, 1549, 10...","[1948, 1605, 4614, 1816, 7016, 3883, 12989]","[1948, 10291, 1605, 5529, 12693, 13068, 3063, ..."
996,"{2432, 2816, 6403, 11528, 10121, 1162, 3083, 3...","[12483, 4711, 12449, 7914]","[6389, 4372, 1325, 10291, 9082, 12712, 8260, 1..."
997,"{2816, 2561, 5504, 12928, 7172, 8067, 12038, 8...","[4289, 3063, 1179, 2561, 3132, 10136, 10721, 1...","[12539, 2331, 8586, 10066, 9749, 3063, 1179, 8..."
998,"{3586, 7043, 6410, 6411, 4623, 7572, 5781, 386...","[2555, 4433, 3319, 2555, 894, 9367, 4753, 5480...","[8880, 2968, 9167, 2624, 12257, 5320, 6087, 63..."
999,"{13061, 391, 911, 3222, 407, 10136, 663, 6680,...","[663, 6701, 13061, 3686, 10136, 6855, 1820]","[9948, 6701, 13061, 5529, 12539, 8626, 10352, ..."

In [92]:
#Compute p_w_H_given_D:
Hn = len(vocabHD)
LM = np.zeros((Hn, Hn)) #LM #transition_matrix
HD = np.zeros((Hn, Hn))    #H|D #emission matrix
pi = np.zeros(Hn)

def train(D, D_full, H, Hn):
        """
        Method that fits the model on training data and compute transition and emission matrices
        @param X (D): array-like with dimension [# of examples, # of length]
        @param z (H): array-like with dimension [# of examples, # of length]
        """
        
        pi = np.zeros(Hn)
        wHD = np.zeros(Hn)+1
        wD = np.zeros(Hn)+1
        LM = np.zeros((Hn, Hn))
        # Find pi and LM
        
        for i in range(len(H)): #loop through the headline
            for j in range(len(H[i])): #loop through each word in the headline
                # update initial state probability
                if j==0:
                    pi[H[i][j]] += 1
                # update transition matrix
                if j < len(H[i])-1:
                    LM[H[i][j], H[i][j+1]] += 1
                    
        for i in tqdm(range(len(D_full))): #loop through the document
            for j in range(len(D_full[i])): #loop through each word in the document
                # update initial state probability
                if j==0:
                    pi[D_full[i][j]] += 1
                # update transition matrix
                if j < len(D_full[i])-1:
                    LM[D_full[i][j], D_full[i][j+1]] += 1
                    
        # Find p(w in H| w in D)
        for i in tqdm(range(Hn)): #loop through the headline vocab
            for j in range(len(D)): #loop through each article 
                if i in D[j]: #now a set
                    wD[i]+=1
                    if i in H[j]:
                        wHD[i]+=1              
              
        # Compute probability
        # Initial vector
        pi = np.where(pi ==0.0, 1., pi)
        pi /= np.sum(pi)
        
        # Transition matrix or LM model
        LM = np.where(LM ==0.0, 1., LM)
        row_sums_LM = np.sum(LM, axis=1)
        LM = LM/ row_sums_LM[:, np.newaxis]
        
        # p(w in H | w in D):
        wHD = wHD / wD
        
        # Find length:
        Hlen = [len(h) for h in H]
        Hlen_count = Counter(Hlen)
        max_len = max(Hlen_count.keys())
        Hlen_dist = {leng: count for leng, count in Hlen_count.items()}
        pHlen = np.zeros(max_len)
        for i in range(max_len):
            if i in Hlen_dist:
                pHlen[i] = Hlen_dist[i]
        pHlen+= 1e-10  
        pHlen/=max_len
        
        return wHD, pi, LM, pHlen

In [93]:
wHD, pi, LM, pHlen = train(encoded_df.body,encoded_df['body_full'], encoded_df.title, Hn)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1000/1000 [00:01<00:00, 854.03it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 13530/13530 [00:39<00:00, 342.70it/s]

In [97]:
vocab_indexerHD['millions']

5233

In [98]:
vocab_lookupHD[5233]

'millions'

In [104]:
l = np.where(LM[5233,:] == np.max(LM[5233,:]))
l[:3]

(array([    0,     1,     2, ..., 13527, 13528, 13529], dtype=int64),)

In [ ]:
[vocab_lookupHD[i] for i in

In [70]:
# Viterbi algorithm

def viterbi_headline_gen(vocab, D, Hn, pi, LM, wHD, pHlen, n, vocab_lookup):
        """
        Use Viterbi to pre+1e-10dict a headline (w in H sequence) for each document
        H = vocab
        D = test document
        LM = transition_matrix #Hn x Hn
        wHD = emission_matrix #Hn x n
        Hn = number of all words in training (H+D)
        """
        #check input
        print('Length of vocab: ',len(vocab))
        print('Length of test document vocab: ',len(D))
        print('Max length of headline: ', n)
        
        # init holders        

        # Forward
        # Initialize
        H = vocab
        V = np.zeros((n, Hn))
        best_state = np.zeros(n)
        best_states = np.zeros((n, Hn))
        z = []
        
        #V[0,:] = wHD * pi
        for i in range(n): #n = length      
            for j in D: #loop through each word in document (because we only care about those in D)
                # Use log form
                p_wHD = wHD[j]
                
                if i==0:                
                    V[i][j] = p_wHD #+np.log(pi[j]) #initiate p(first position = j) * p(w in H | w in D)
                    best_states[i][j] = int(np.argmax(p_wHD)) 
                else:
                    p_wLM = V[i-1,:] * LM[:,j]
                    V[i][j] = p_wHD * np.max(p_wLM) #p_wHD
                    #print('j', j, int(np.argmax(p_wLM)))
                    best_states[i][j] = int(np.argmax(p_wLM)) 
                print('Time:', i, vocab_lookup[j], V[i][j])   
                
            #best_state[i] = int(np.argmax(V[i,:]))
               

        #z is the best headline generated for each len -> need to figure out how to compare among the z(s)
        #Backward
        print('final state: ',np.argmax(V[-1,:]))
        z.append(np.argmax(V[-1,:]))
        for i in reversed(range(1,n)):
            z_prev = z[-1]
            print('z_prev', z_prev, int(best_states[i][z_prev]))
            z.append(int(best_states[i][z_prev]))
        
        z.reverse()
        #h_candidate[n] = best_state
        return z , V

In [71]:
#test
Dtest = encoded_df['body_full']
Htest = encoded_df.title
dtest = Dtest[0]
htest = Htest[0]

In [74]:
#check dtest
dtest_word = [vocab_lookupHD[i] for i in dtest]
dtest_title = [vocab_lookupHD[i] for i in htest]

In [75]:
dtest_title

['sapporo', 'breweries', 'issues', 'five', 'year', 'sfr', 'notes']

In [76]:
test_candidate, V = viterbi_headline_gen(vocabHD, dtest, Hn, pi, LM, wHD, pHlen, 6, vocab_lookupHD)

Length of vocab:  13530
Length of test document vocab:  44
Max length of headline:  6
Time: 0 sapporo 1.0
Time: 0 breweries 1.0
Time: 0 ltd 0.03333333333333333
Time: 0 of 0.056372549019607844
Time: 0 japan 0.38181818181818183
Time: 0 is 0.007246376811594203
Time: 0 issuing 0.08
Time: 0 100 0.09090909090909091
Time: 0 mln 0.08908685968819599
Time: 0 swiss 0.3125
Time: 0 francs 0.07407407407407407
Time: 0 of 0.056372549019607844
Time: 0 five 0.04672897196261682
Time: 0 year 0.04633204633204633
Time: 0 notes 0.35294117647058826
Time: 0 with 0.044854881266490766
Time: 0 a 0.004273504273504274
Time: 0 458 0.3333333333333333
Time: 0 pct 0.08387096774193549
Time: 0 coupon 0.08333333333333333
Time: 0 and 0.03537414965986395
Time: 0 10014 0.5
Time: 0 issue 0.19117647058823528
Time: 0 price 0.056074766355140186
Time: 0 lead 0.044444444444444446
Time: 0 manager 0.02702702702702703
Time: 0 swiss 0.3125
Time: 0 bank 0.24615384615384617
Time: 0 corp 0.027149321266968326
Time: 0 said 0.005
Time: 0 the 0.0024509803921568627
Time: 0 issue 0.19117647058823528
Time: 0 is 0.007246376811594203
Time: 0 guaranteed 0.08333333333333333
Time: 0 by 0.03125
Time: 0 fuji 0.3333333333333333
Time: 0 bank 0.24615384615384617
Time: 0 payment 0.03125
Time: 0 is 0.007246376811594203
Time: 0 due 0.030927835051546393
Time: 0 march 0.0782608695652174
Time: 0 17 0.03571428571428571
Time: 0 reuter 0.0030303030303030303
Time: 0 \x03 0.000999000999000999
Time: 1 sapporo 7.390983000739098e-05
Time: 1 breweries 0.00014780873549626782
Time: 1 ltd 6.566968150204472e-06
Time: 1 of 7.370280430610501e-05
Time: 1 japan 2.822011691191292e-05
Time: 1 is 1.6295654385466139e-06
Time: 1 issuing 5.912786400591279e-06
Time: 1 100 6.719075455217362e-06
Time: 1 mln 1.7899231087814133e-05
Time: 1 swiss 2.3096821877309682e-05
Time: 1 francs 1.5378558598459684e-05
Time: 1 of 7.370280430610501e-05
Time: 1 five 3.4537303741771484e-06
Time: 1 year 4.465563876556909e-06
Time: 1 notes 2.608582235554976e-05
Time: 1 with 3.315216649408039e-06
Time: 1 a 1.9157115476236375e-06
Time: 1 458 2.463661000246366e-05
Time: 1 pct 8.911855578581657e-06
Time: 1 coupon 6.159152500615915e-06
Time: 1 and 6.897739710137239e-06
Time: 1 10014 3.695491500369549e-05
Time: 1 issue 1.4129820442589451e-05
Time: 1 price 4.144476449012579e-06
Time: 1 lead 3.2848813336618216e-06
Time: 1 manager 2.1246096859627705e-06
Time: 1 swiss 2.3096821877309682e-05
Time: 1 bank 2.839118510484865e-05
Time: 1 corp 2.4312099280888628e-06
Time: 1 said 1.8805408793767353e-06
Time: 1 the 6.827740841477943e-06
Time: 1 issue 1.4129820442589451e-05
Time: 1 is 1.6295654385466139e-06
Time: 1 guaranteed 6.159152500615915e-06
Time: 1 by 2.3096821877309682e-06
Time: 1 fuji 2.463661000246366e-05
Time: 1 bank 2.839118510484865e-05
Time: 1 payment 2.3096821877309682e-06
Time: 1 is 1.6295654385466139e-06
Time: 1 due 4.030910815650325e-06
Time: 1 march 5.784247565795816e-06
Time: 1 17 2.6396367859782494e-06
Time: 1 reuter 5.658777204052306e-07
Time: 1 \x03 2.06225080675606e-07
Time: 2 sapporo 1.0924518514136572e-08
Time: 2 breweries 1.0924518514136572e-08
Time: 2 ltd 7.57428783841034e-10
Time: 2 of 8.50082171169182e-09
Time: 2 japan 2.841635416604181e-08
Time: 2 is 1.2044090454889977e-10
Time: 2 issuing 8.739614811309258e-10
Time: 2 100 2.9600368922960214e-09
Time: 2 mln 1.3229291269633506e-09
Time: 2 swiss 3.4139120356676786e-09
Time: 2 francs 1.344785620529833e-09
Time: 2 of 8.50082171169182e-09
Time: 2 five 1.3041551060850295e-09
Time: 2 year 8.972160433496339e-10
Time: 2 notes 6.5668045341693255e-09
Time: 2 with 4.900179808451761e-10
Time: 2 a 2.504646601173557e-09
Time: 2 458 3.641506171378857e-09
Time: 2 pct 9.162499398953254e-10
Time: 2 coupon 9.103765428447143e-10
Time: 2 and 7.329313321450438e-10
Time: 2 10014 5.462259257068286e-09
Time: 2 issue 2.4961977297177384e-09
Time: 2 price 6.125898232226115e-10
Time: 2 lead 4.855341561838476e-10
Time: 2 manager 2.952572571388263e-10
Time: 2 swiss 3.4139120356676786e-09
Time: 2 bank 8.035098017552957e-09
Time: 2 corp 2.9659326282723726e-10
Time: 2 said 2.1690006082720523e-10
Time: 2 the 8.926749913636427e-09
Time: 2 issue 2.4961977297177384e-09
Time: 2 is 1.2044090454889977e-10
Time: 2 guaranteed 9.103765428447143e-10
Time: 2 by 3.4139120356676787e-10
Time: 2 fuji 3.641506171378857e-09
Time: 2 bank 8.035098017552957e-09
Time: 2 payment 3.4139120356676787e-10
Time: 2 is 1.2044090454889977e-10
Time: 2 due 3.378717066227806e-10
Time: 2 march 2.5482056724983143e-09
Time: 2 17 3.9016137550487754e-10
Time: 2 reuter 1.1369551155388588e-10
Time: 2 \x03 3.851039891922192e-11
Time: 3 sapporo 2.092052872417125e-12
Time: 3 breweries 2.092052872417125e-12
Time: 3 ltd 2.1436282060798048e-13
Time: 3 of 2.405850105620316e-12
Time: 3 japan 3.277519257727934e-12
Time: 3 is 1.2127842738650002e-13
Time: 3 issuing 1.6736422979337e-13
Time: 3 100 3.414082560133265e-13
Time: 3 mln 5.828062280002785e-13
Time: 3 swiss 6.537665226303516e-13
Time: 3 francs 1.6800334812960696e-13
Time: 3 of 2.405850105620316e-12
Time: 3 five 1.9942845247726316e-13
Time: 3 year 1.010642824291469e-12
Time: 3 notes 1.1715443992585889e-12
Time: 3 with 9.38387831954911e-14
Time: 3 a 2.888839089343532e-13
Time: 3 458 6.97350957472375e-13
Time: 3 pct 2.4872025789049194e-13
Time: 3 coupon 1.7433773936809376e-13
Time: 3 and 2.9601836562092655e-13
Time: 3 10014 1.0460264362085626e-12
Time: 3 issue 3.2635879693632123e-12
Time: 3 price 7.711233495787508e-13
Time: 3 lead 9.298012766298334e-14
Time: 3 manager 5.654196952478717e-14
Time: 3 swiss 6.537665226303516e-13
Time: 3 bank 1.0505277250494601e-11
Time: 3 corp 7.936097842335766e-14
Time: 3 said 6.138571681046715e-14
Time: 3 the 1.0296040998048954e-12
Time: 3 issue 3.2635879693632123e-12
Time: 3 is 1.2127842738650002e-13
Time: 3 guaranteed 1.7433773936809376e-13
Time: 3 by 6.537665226303516e-14
Time: 3 fuji 6.97350957472375e-13
Time: 3 bank 1.0505277250494601e-11
Time: 3 payment 8.891185172944649e-14
Time: 3 is 1.2127842738650002e-13
Time: 3 due 7.499890969296007e-14
Time: 3 march 2.939079769158202e-13
Time: 3 17 7.471617401489732e-14
Time: 3 reuter 8.403215931551064e-15
Time: 3 \x03 7.737465794075957e-15
Time: 4 sapporo 7.643536998322614e-16
Time: 4 breweries 7.643536998322614e-16
Time: 4 ltd 2.8026302327182914e-16
Time: 4 of 3.145465348084233e-15
Time: 4 japan 9.275832760416835e-16
Time: 4 is 4.4310359410565876e-17
Time: 4 issuing 6.114829598658091e-17
Time: 4 100 9.66232579210087e-17
Time: 4 mln 6.809387080911015e-17
Time: 4 swiss 2.3886053119758168e-16
Time: 4 francs 5.66187925801675e-17
Time: 4 of 3.145465348084233e-15
Time: 4 five 4.257099481165938e-17
Time: 4 year 1.165667242160936e-16
Time: 4 notes 2.697718940584452e-16
Time: 4 with 3.4284994451579005e-17
Time: 4 a 8.175814131777661e-17
Time: 4 458 2.5478456661075377e-16
Time: 4 pct 6.410708450206063e-17
Time: 4 coupon 6.369614165268844e-17
Time: 4 and 2.7038362170937146e-16
Time: 4 10014 3.821768499161307e-16
Time: 4 issue 3.764195912106015e-16
Time: 4 price 8.894074213602998e-17
Time: 4 lead 3.3971275548100506e-17
Time: 4 manager 2.0658208103574632e-17
Time: 4 swiss 2.3886053119758168e-16
Time: 4 bank 1.2116701634234747e-15
Time: 4 corp 1.0375842079170971e-16
Time: 4 said 8.025713848238745e-17
Time: 4 the 2.913921990453949e-16
Time: 4 issue 3.764195912106015e-16
Time: 4 is 4.4310359410565876e-17
Time: 4 guaranteed 6.369614165268844e-17
Time: 4 by 2.3886053119758168e-17
Time: 4 fuji 2.5478456661075377e-16
Time: 4 bank 1.2116701634234747e-15
Time: 4 payment 2.3886053119758168e-17
Time: 4 is 4.4310359410565876e-17
Time: 4 due 2.3639805149451383e-17
Time: 4 march 8.318002203634663e-17
Time: 4 17 2.729834642258076e-17
Time: 4 reuter 4.641237949995921e-18
Time: 4 \x03 7.635901097225388e-19
Time: 5 sapporo 1.9851469536662877e-19
Time: 5 breweries 1.9851469536662877e-19
Time: 5 ltd 3.2325309947754706e-20
Time: 5 of 3.6279542381203317e-19
Time: 5 japan 1.212744320785223e-18
Time: 5 is 5.110720940356475e-21
Time: 5 issuing 3.1762351258660605e-20
Time: 5 100 1.263275334151274e-19
Time: 5 mln 1.9024302241841624e-20
Time: 5 swiss 6.203584230207149e-20
Time: 5 francs 1.4704792249379908e-20
Time: 5 of 3.6279542381203317e-19
Time: 5 five 5.565832580372768e-20
Time: 5 year 3.2989995000293906e-20
Time: 5 notes 2.802560405175936e-19
Time: 5 with 8.904353090323718e-21
Time: 5 a 1.0689252827433859e-19
Time: 5 458 6.617156512220959e-20
Time: 5 pct 1.6649619611394674e-20
Time: 5 coupon 1.6542891280552398e-20
Time: 5 and 3.118582777890993e-20
Time: 5 10014 9.925734768331439e-20
Time: 5 issue 1.065319499673813e-19
Time: 5 price 2.517146002104912e-20
Time: 5 lead 8.822875349627946e-21
Time: 5 manager 5.365262036935913e-21
Time: 5 swiss 6.203584230207149e-20
Time: 5 bank 3.429194129127541e-19
Time: 5 corp 1.1967412156717088e-20
Time: 5 said 9.256793303220667e-21
Time: 5 the 3.8097305507860373e-19
Time: 5 issue 1.065319499673813e-19
Time: 5 is 5.110720940356475e-21
Time: 5 guaranteed 1.6542891280552398e-20
Time: 5 by 6.203584230207149e-21
Time: 5 fuji 6.617156512220959e-20
Time: 5 bank 3.429194129127541e-19
Time: 5 payment 6.203584230207149e-21
Time: 5 is 5.110720940356475e-21
Time: 5 due 6.139629753607076e-21
Time: 5 march 1.087515287660662e-19
Time: 5 17 1.417962109761634e-20
Time: 5 reuter 1.7828559767163308e-21
Time: 5 \x03 3.158560913219557e-22
final state:  4205
z_prev 4205 1341
z_prev 1341 13484
z_prev 13484 12539
z_prev 12539 1341
z_prev 1341 13484

In [59]:
#deccode
print('Correct is:')
print(dtest_title)
print('Predicted is:')
headline = [vocab_lookupHD[s] for s in test_candidate]
print(headline)

Correct is:
['sapporo', 'breweries', 'issues', 'five', 'year', 'sfr', 'notes']
Predicted is:
['bank', 'of', 'the', 'bank', 'of', 'japan']